XML/livre.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT livre (auteurs, sections)>
<!ATTLIST livre titre CDATA #REQUIRED>
<!ELEMENT auteurs (auteur+)>
<!ELEMENT auteur EMPTY>
<!ATTLIST auteur nom CDATA #REQUIRED
prenom CDATA #REQUIRED>
<!ELEMENT sections (section+)>
<!ELEMENT section (chapitre+)>
<!ATTLIST section titre CDATA #REQUIRED>
<!ELEMENT chapitre (paragraphe+)>
<!ATTLIST chapitre titre CDATA #REQUIRED>
<!ELEMENT paragraphe (#PCDATA)>